@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Darker Grotesque', sans-serif;
    background-color: #fffefd;
}

h1 {
    color: #87975c;
    font-size: 54px;
    font-weight: 700;
    width: 60%;
    text-align: center;
    padding: 10px;
}

p {
    padding: 20px;
    color: #2c2b2d;
    font-size: 30px;
    font-weight: 400;
    width: 60%;
    text-align: justify;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}